* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contauiner {
    height: 100vh;
    width: 100vw;

    background-color: bisque;

    display: flex;
    align-items: center;
}

.slider_ {
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 80%;
    margin: auto;

    border-radius: 10%;
}

.slider_slides_ {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider_slides_img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    flex-shrink: 0;
}

.slider_slides_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
    -webkit-user-select: none;
}

.slider_slides_prev {
    left: 10px;
}

.slider_slides_next {
    right: 10px;
}

.slider_slides_pagination_ {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.slider_slides_pagination_dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.slider_slides_pagination_dot.active {
    background-color: #717171;
}

@media screen and (max-width: 600px) {
    .slider_slides_btn {
        padding: 5px;
    }

    .slider_slides_pagination_dot {
        height: 10px;
        width: 10px;
    }
}
